
/* // <!-- 1 task --> */
.main-div {
    display: flex;

}

.btn{
    margin-right: 120px;
    
}

.second-div{
display: flex;
gap: 20px;
}

.disp{
    display: none;
}

/* // <!-- 1 task --> */

/* <!-- 2 task --> */

 .list {
    display: flex;
    gap: 15px;
    list-style-type: none;
    
 }

 .link {
    text-decoration: none;
    color: #000;
 }

 a:hover {
    color: red;
 }

 .list1 {
    list-style-type: none;
    margin-left: -40px;
    display: none;
 }

 .show {
    display: block;
 }

 /* // <!-- 2 task --> */

 /* <!-- 3 task --> */

 .one {
   width: 800px;
   height: 500px;
   background-color: rgb(133, 117, 117);
   position: relative;
 }

 .red {
   width: 100px;
   height: 100px;
   background-color: red;
   position: absolute;
   left: 350px;


 }

 .blue {
   width: 100px;
   height: 100px;
   background-color: blue;
   position: absolute;
   left: 250px;
   top: 100px;
 }

 .black {
   width: 100px;
   height: 100px;
   background-color: black;
   position: absolute;
   left: 350px;
   top: 200px;
 }

 .green {
   width: 100px;
   height: 100px;
   background-color: green;
   position: absolute;
   left: 450px;
   top: 100px;
 }