
/* // <!-- 1 task --> */
.main-div {
    display: flex;

}

.btn{
    margin-right: 120px;
    
}

.second-div{
display: flex;
gap: 20px;
}

.disp{
    display: none;
}

/* // <!-- 1 task --> */

/* <!-- 2 task --> */

 .list {
    display: flex;
    gap: 15px;
    list-style-type: none;
    
 }

 .link {
    text-decoration: none;
    color: #000;
 }

 a:hover {
    color: red;
 }

 .list1 {
    list-style-type: none;
    margin-left: -40px;
    display: none;
 }

 .show {
    display: block;
 }

 /* // <!-- 2 task --> */

 /* <!-- 3 task --> */

 .one {
   width: 800px;
   height: 500px;
   background-color: rgb(133, 117, 117);
   position: relative;
 }

 .red {
   width: 100px;
   height: 100px;
   background-color: red;
   position: absolute;
   left: 350px;


 }

 .blue {
   width: 100px;
   height: 100px;
   background-color: blue;
   position: absolute;
   left: 250px;
   top: 100px;
 }

 .black {
   width: 100px;
   height: 100px;
   background-color: black;
   position: absolute;
   left: 350px;
   top: 200px;
 }

 .green {
   width: 100px;
   height: 100px;
   background-color: green;
   position: absolute;
   left: 450px;
   top: 100px;
 }

 /* <!-- 3 task --> */

 /* <!-- 4 task --> */

 .div-text {
  width: 700px;
  overflow: hidden; /* Скрыть часть текста, которая не помещается в div */
}
 
.text {
  animation: marquee 15s linear infinite; /* Назначаем анимацию */
  white-space: nowrap; /* Запрещаем перенос текста */
}

@keyframes marquee {
  0% { transform: translateX(70%); } /* Начальное положение текста за пределами видимой области */
  100% { transform: translateX(-100%); } /* Конечное положение текста за пределами видимой области */
}

/* <!-- 4 task --> */

/* <!-- 6 task --> */

.item-product {
display: flex;
flex-direction: column; 
align-items: center;
border: 2px solid black;
border-radius: 10px;
padding:20px;
width: 400px;
}

.img-product {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

/* <!-- 6 task --> */


/* <!-- 7 task --> */

.backdrop {
  position: fixed;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(128, 118, 118);
width: 100vw;
height: 100vh;
padding: 10px 10px;
margin: 0;
}